$purple:#6604CC;
$yellow:#FFCC02;
$black:#000000;
$red:#CC0001;
$lightYellow:rgba(255, 204, 2, 0.5);
$white:#FFFFFF;

$primaryText: $yellow;
$hoverText:$red;
$secondaryText: $yellow;
$tertiaryText:$black;
$mainBg:$black;
$headerBg:$black;
$mainBg:$black;