$purple:#6604CC;
$yellow:#FFCC02;
$orange:#edbc63;
$black:#000000;
$red:#CC0001;
$lightBlue:#109fe6;
$lightYellow:rgba(255, 204, 2, 0.5);
$white:#FFFFFF;

$primaryText:$orange;
$hoverText:$lightBlue;
$secondaryText:$orange;
$tertiaryText:$black;
$highlightText:$white;
$mainBg:$black;
$headerBg:$black;
$buttonBg:$orange;