@import '../../styles/colors';

.contact-form {
    color: $primaryText;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    color: $primaryText;

    &__submit {
        background-color: transparent;
        border: 1px solid $primaryText;
        color: $primaryText;
        width: 91%;
        padding: 10px;
        cursor: pointer;
        font-weight: bold;

        &:hover {
            color: $hoverText;
            border: 1px solid $hoverText;
        }
    }


    &__field {

        padding: 20px;
        display: flex;
        flex-direction: column;

        label {
            text-align: left;
            padding-bottom: 5px;
        }

        input,
        textarea {
            color: $white;
            border: 1px solid $primaryText;
            background: transparent;
            padding: 10px;
        }
    }

}

@media only screen and (max-width: 600px) {
    .contact-form {
        width: 90%;
    }

}