@import '../../styles/colors';

.header {
    background-color: $headerBg;
    padding: 1.45rem 1.0875rem;
}

.header__nav-mobile-open {

    transition: width 0.5s ease-in-out;
    width: 0vw;
    position: fixed;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;

    background: $yellow;
    overflow: hidden;

    ul {
        border-top: 1px solid $tertiaryText;
        margin-top: 125px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        font-weight: 800;
        width: 100vw;
        list-style: none;
        font-size: 80px;
        text-align: left;

        li {

            display: inline-block;
            height: 13vh;

            a {
                color: $tertiaryText;

                &:hover {
                    color: $hoverText;
                }
            }

            .active {
                color: $white;

                &:hover {
                    color: $white;
                }
            }
        }


    }
}

.header__nav-mobile-open .iconLinks {

    flex-direction: row;
    border-top: 0px;
    margin-top: 10px;
    padding: 0px 17px;

    svg {

        &:hover {
            fill: $hoverText;
        }
    }
}

.header__nav-mobile-open-content {
    height: auto;
    min-height: 600px;
}


.header__content {
    display: flex;
    margin: 0 auto;
    max-width: 960px;
    padding: 20px 0 10px 0;
}

.header__link {
    z-index: 1;
    text-decoration: none;
}

.header__image {
    width: 400px;

}

.header__nav {
    margin-left: auto;

    ul {
        padding-left: 0px;
        font-weight: 800;
        color: $primaryText;
        list-style: none;
        font-size: 20px;

        li {
            display: inline-block;
            padding: 0 1.4em 0 0;

            a {
                &:hover {
                    color: $hoverText;
                }
            }

            .active {
                color: $white;

                &:hover {
                    color: $white;
                }
            }
        }
    }
}

.header__nav-social-text {
    padding-left: 40px;
    color: $tertiaryText;
    font-weight: 800;
    font-size: 20px;
}

.fullScreen {
    width: 100vw;
}


// nav item padding
@media only screen and (max-width: 950px) {
    .header__nav ul {
        font-size: 16px;
        margin-top: 20px;
    }

    .header__nav ul li {
        padding: 0 1em 0 0;
    }
}

// resize logo on mobile 
@media only screen and (max-width: 810px) {

    .header__nav {
        display: none;
    }

}

@media only screen and (max-width: 550px) {

    .header__image {
        width: 70vw;
    }

    .header__nav-mobile-open ul {
        font-size: 15vw;
    }

}