@import '../../styles/colors';

.news {

    h2 {
        text-align: left;
    }

    .download-link-container {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .download-link-description {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .download-link {
        font-weight: bold;
        font-size: 30px;
        color: $white;

        &:hover {
            color: $hoverText;
        }
    }

    &__section {

        &__content {
            display: flex;

            margin-bottom: 30px;
        }

        &__image {
            width: 40%;
            height: 40%;
        }

        .video {
            width: 56%;
            height: 350px;
        }

        &__text {
            margin-left: 40px;
            margin-top: 10px;
        }

        p {
            padding-bottom: 10px;
            width: 100%;
            color: $primaryText;
        }

        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 600px) {
    .news__section {

        &__content {
            display: block;
            text-align: center;
        }


        h2 {
            text-align: center;

        }

        &__text {
            margin-left: 0px;
        }

        &__image {
            width: 80%;
            height: 80%;
            margin-bottom: 16px;
        }

        .video {
            width: 80%;
            height: 80%;
        }
    }
}