
@import '../../styles/colors';

.album-list {
    padding:0px;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(40vh, 1fr));
    grid-gap: 1em;
}

.album {
    list-style: none;
}

.album__title {
    color:$primaryText;
    display: none;
}

.album img {
    min-height:35vh;
    width:100%;
    transition:all 0.4s;
    &:hover {
        filter: brightness(50%);
        .album__title {
            display:block;
        }
    }
}







