@import '../../styles/colors';

@keyframes flicker {
    10% {
        border: 1px solid darken($secondaryText, 40%);
    }

    20% {
        border: 1px solid darken($secondaryText, 80%);
    }

    50% {
        border: 1px solid darken($secondaryText, 40%);
    }

    60% {
        border: 1px solid darken($secondaryText, 60%);
    }

    70% {
        border: 1px solid darken($secondaryText, 45%);
    }

    75% {
        border: 1px solid darken($secondaryText, 60%);
    }

    80% {
        border: 1px solid darken($red, 30%);
    }
}

@keyframes redText {
    49% {
        color: $secondaryText
    }

    50% {
        color: $red
    }

    51% {
        color: $secondaryText
    }
}


.album-list {
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40vh, 1fr));
    grid-gap: 1em;
    margin-bottom: 100px;
}

.album {
    list-style: none;
    cursor: pointer;

    &__bottom-border {
        position: relative;
    }

    &__bottom-border::before,
    &__bottom-border::after {
        content: '';
        position: absolute;
        left: 50%;
        width: 100%;
        height: 2px;
        background-color: $hoverText;
        transform-origin: center;
        transform: translateX(-50%) scaleX(0);
        transition: transform 0.4s ease;
    }

    &__bottom-border::before {
        top: 0;
    }

    &__bottom-border::after {
        bottom: 0;
    }

    &__bottom-border:hover::before,
    &__bottom-border:hover::after {
        transform: translateX(-50%) scaleX(1);
    }

    &:hover {
        border: 1px solid darken($secondaryText, 100%);
        animation-name: flicker;
        animation-duration: .5s;
        animation-timing-function: step-end;
        animation-iteration-count: infinite;
        animation-direction: alternate;

        .album__info {
            visibility: visible;
        }

        img {
            filter: brightness(50%);
        }
    }
}

.album__info {
    visibility: hidden;
    padding: 10px;
    font-weight: 800;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.album__title,
.album__year {
    color: $secondaryText;
}

.album__title {
    animation-name: redText;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.album__year {
    text-align: right;
}

.album img {
    min-height: 35vh;
    width: 100%;
    transition: all 0.4s;
}