@import '../../styles/colors';


.streamList {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    justify-items: center;
    text-align: center;
}

.streamList__header {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;

}

.streamList__link__container {
    width: 350px;
    margin: 10px 0px 10px 0px;
    padding: 0px;
}

.streamList__link {
    display: flex;
    padding: 1.2rem 1rem;
    width: 100%;
    background-color: #1e1e1e;
    color: $red;
    list-style: none;
    margin: 0 auto;
    border-bottom: 1px solid #353535;
    transition: all 0.2s ease-in-out;

    z-index: 1;
    position: relative;
    overflow: hidden;

    li {
        display: flex;
        justify-content: space-between;
        justify-items: center;
        align-items: center;
    }

    &:hover {
        background-color: #282828;

        p {
            color: $hoverText;
            text-shadow: 0 0 15px $hoverText;
        }
    }

    p {
        margin-right: 20px;
        font-weight: 800;
        display: inline-flex;
        transition: all 0.3s ease-in-out;

    }
}

.streamList__link::after {
    content: '';
    z-index: -1;
    background-color: hsla(0, 0%, 50%, 0.153);
    position: absolute;
    top: -50%;
    bottom: -50%;
    left: 0%;
    width: 1em;
    transform: translateX(-525%) rotate(35deg);
}

.streamList__link:hover::after {
    transition: transform 0.45s ease-in-out;
    transform: translateX(2500%) rotate(35deg);
}

.streamList__logo {
    width: 50%;
    height: 80%;
    margin-left: 20px;
}

.streamList__cover {
    width: 350px;
    height: 350px;
}

@media only screen and (max-width: 600px) {

    .streamList__header {
        font-size: 1.2em;
    }

    .streamList__link__container {
        width: 300px;

    }

    .streamList__cover {
        width: 300px;
        height: 300px;
    }
}